doctype html
html
    head
        block title
            title {default title}
        //---link(rel='shortcut icon', href='img/source/favicon-cake.ico', type='image/x-icon')
        block meta
            include meta.pug
        block style
            include style.pug
        //google analytics
        block metrika_google
            include metrika_google.pug

    body
        //upgrade old ie
        block upgrade
            include ../_includes/upgradeBrowser.pug
        //header
        block header

        //content
        block content

        block js
            include js.pug

        block js-page

        //yandex metrica
        block metrika_yandex
          include metrika_yandex.pug
